<?xml version="1.0"?>
<!--
/**
 * ScandiPWA - Progressive Web App for Magento
 *
 * Copyright © Scandiweb, Inc. All rights reserved.
 * See LICENSE for license details.
 *
 * @license OSL-3.0 (Open Software License ("OSL") v. 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="ScandiPWA\Router\Controller\ConfigurableRouter" type="ScandiPWA\Router\Controller\Router">
        <arguments>
            <argument name="ignoredURLs" xsi:type="array">
                <item name="orderSubscriptionToStatus" xsi:type="string">^/rss/feed/index/type/order_status/.*</item>
                <item name="downloadCustomOption" xsi:type="string">^/sales/download/downloadCustomOption/id/.*</item>
            </argument>
        </arguments>
    </virtualType>
    <preference
        for="Magento\SalesGraphQl\Model\OrderItem\OptionsProcessor"
        type="ScandiPWA\SalesGraphQl\Model\OrderItem\OptionsProcessor"/>
    <preference
        for="Magento\SalesGraphQl\Model\Formatter\Order"
        type="ScandiPWA\SalesGraphQl\Model\Formatter\Order"/>
    <preference
        for="Magento\SalesGraphQl\Model\Order\OrderAddress"
        type="ScandiPWA\SalesGraphQl\Model\Order\OrderAddress"/>
    <preference
        for="Magento\SalesGraphQl\Model\Order\OrderPayments"
        type="ScandiPWA\SalesGraphQl\Model\Order\OrderPayments"/>
    <preference
        for="Magento\SalesGraphQl\Model\Resolver\CustomerOrders"
        type="ScandiPWA\SalesGraphQl\Model\Resolver\CustomerOrders"/>
    <preference
        for="Magento\SalesGraphQl\Model\Resolver\Invoices"
        type="ScandiPWA\SalesGraphQl\Model\Resolver\Invoices"/>
    <preference
        for="Magento\SalesGraphQl\Model\Resolver\Shipments"
        type="ScandiPWA\SalesGraphQl\Model\Resolver\Shipments"/>
    <preference
        for="ScandiPWA\SalesGraphQl\Api\OrderViewAuthorizationInterface"
        type="ScandiPWA\SalesGraphQl\Model\OrderViewAuthorization" />
    <preference
        for="Magento\SalesGraphQl\Model\Resolver\OrderTotal"
        type="ScandiPWA\SalesGraphQl\Model\Resolver\OrderTotal"/>
</config>
